ul
  li
    a(href="/") node-galerie '13

  if needslogin
    li
      a(href="/login").noscript login

  else
    li
      a(href="/logout").noscript logout

  li
    a(href="/imprint").imprint imprint