@import 'nib'

body
  background: linear-gradient(top, #ECCD35, #E45635)
  width: 80%
  margin: 4em auto

@media (min-width: 500px) and (max-width: 750px)
  body
    width: 500px

@media (max-width: 500px)
  body
    width: 100%

p.info
  margin-bottom: 2em

pre.stack
  font: 70% "Consolas" 
  border: 0
  margin: 0
  padding: 0
  word-wrap: break-word
  overflow: scroll
  height: 60%

  &:empty
    display: none