
$header-background = #2b2b2b
$header-text = white

$background-color = rgba(238,238,238, 1)
$text-color = black
$link-color = #333


$content-width = 800px
$half-width = 800px/2
$height = 800px/2.5

$button-color = #0e90d2
