@import "nib"
global-reset()

body
  padding: 50px
  font: 90% "Helvetica Neue", Arial, sans-serif

a.button
  color: #00B7FF

h1
  font-size: 200%
  font-weight: 100
  margin-bottom: 1.5%

header

footer
  margin-top: 50px;
  color: darkgray;

  ul 
    display: inline

    li
      float: left
      margin-left: 5px

p
  margin-top: 1%

pre
  font: 100% Consolas, "Courier New", serif
  margin-top: 0.5%
  margin-bottom: 0.5%
  border-left: 2px solid
  padding-left: 1%