@import "nib"

@import "_variables"

@import "animation"
@import "horizontal-scroll"
@import "buttons"

@import "header"
@import "content"
@import "footer"

@import "tpl/login"
@import "tpl/search"
@import "tpl/gallery"

global-reset()

*
  box-sizing: border-box

  &:focus
    outline: 0

:root
  height: 100%

body
  width: 100%
  
  font: 1em "Helvetica Neue", Arial, sans-serif
  font-weight: 100
  color: $text-color

  background-color: $background-color
  //background: url("../img/background.jpg") center center no-repeat fixed
  //background-size: cover
  overflow: hidden

a
  color: $link-color
  text-decoration: none
  font-weight: 200

a.button
  color: #00B7FF

h1
  font-size: 2em

h2
  font-size: 1.5em
  font-weight: 100

h3
  font-size: 1.15em
  font-weight: 200

p
  margin-top: 1%

pre
  font: 1em Consolas, "Courier New", serif
  margin-top: 0.5%
  margin-bottom: 0.5%
  border-left: 2px solid
  padding-left: 1%

input, textarea, button
  font: 1em "Helvetica Neue", Arial, sans-serif
  font-weight: 100

.clearfix
  clearfix()