!!! 5
html
  
  head
    title node-galerie
    link(rel='stylesheet', href='/css/main.css')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js')
    if !needslogin
      script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.js', 'data-main'='/js/main')
  
  body
    //header
      include includes/header.jade

    #content

    footer