.horizontal-scroll
  margin: auto
  text-align: center
  position: relative
  width: 100% 

  .wrapper
    overflow-x: scroll
    overflow-y: hidden
    white-space: nowrap

    .item
      display:inline-block
      *display:inline
      *zoom:1
      vertical-align:top