
div.query
  textarea.search(placeholder="Motorradtour in den Alpen 2013", autofocus=true, name="q")

div.stats

div.additional
  p Die Suchbar unterst체tzt nat체rlichsprachliche Suchanfragen&mdash;
    a(href="#!/q/!hilfe") h채채?

  a(href="#!/q/!create")
    //i.fa.fa-cloud-upload
    | Neues Album

  a.user(href="#!/q/!profil")
    //img(src="#{avatar.url}")
    span #{name} (
    span.user.reputation
    |  rep)

  a(href="/user/setting")
    //i.fa.fa-wrench
    | Einstellungen

  a(href="/logout") Logout
