p.pictures
  span.countto(data-to="1234")
  |  Fotos

p.buckets
  span.countto(data-to="321")
  |  Alben

p.users
  span.countto(data-to="12")
  |  Mitglieder

p.more
  a(href="/analytics") mehr Statistiken
