
div.query
  textarea.search(placeholder="Motorradtour in den Alpen 2013", autofocus=true, name="q")

div.stats
  p.pictures
    span.countto(data-to="1234")
    |  Fotos

  p.buckets
    span.countto(data-to="321")
    |  Alben

  p.users
    span.countto(data-to="12")
    |  Mitglieder

  p.more
    a(href="/analytics") mehr Statistiken

div.additional
  p Die Suchbar unterst체tzt nat체rlichsprachliche Suchanfragen &mdash;
    a(href="#!/q/!hilfe") h채채?

  a(href="#!/q/!create")
    //i.fa.fa-cloud-upload
    | Neues Album

  a.user(href="#!/q/!profil")
    //img(src="#{avatar.url}")
    span #{name} (
    span.user.reputation
    |  rep)

  a(href="/user/setting")
    //i.fa.fa-wrench
    | Einstellungen

  a(href="/logout") Logout
