#error
  background: linear-gradient(top, #ECCD35, #E45635)

  p.info
    margin-bottom: 2em

  pre.stack
    font: 70% "Consolas" 
    border: 0
    margin: 0
    padding: 0
    word-wrap: break-word
    overflow: scroll
    height: 60%

    &:empty
      display: none