#search
  background: linear-gradient(top, #83F080, #FF7E40)

  & > div

    .field
      margin-top: 7.5em

      input
        font-size: 160%
      

    .results
      margin-top: 3em

      ul
        width: 100%
        height: 100%
        overflow: hidden
        position: relative

        li
          transition: all 0.6s 
          background: url('http://lorempixel.com/120/120/') center center transparent no-repeat
          background-size: cover
          width: 120px
          height: 120px
          display: inline-block
          color: white

