!!!5
html
  
  head
    title node-galerie
    link(rel='stylesheet', href='/css/main.css')
    block css

    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    block js

  body
    block body


