!!! 5
html
  
  head
    title node-galerie
    link(rel='stylesheet', href='/css/main.css')
    block head
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.js', 'data-main'='/js/main')
  

  body
    //header
      include ../includes/header.jade

    #content

    footer