!!! 5
html

  head
    title node-galerie
    link(rel='stylesheet', href='/css/main.css')
    block head
    script(type='text/javascript', src='/components/requirejs/require.js', 'data-main'='/js/main')


  body
    //header
      include ../includes/header.jade

    #content

    footer
