ul
  li
    a(href="/") node-galerie '13

  li.logout
    a(href="/logout") logout

  li.login
    a(href="/login") login

  li
    a(href="/imprint").imprint imprint

  li.logout
    a(href="/user/setting").settings settings

  li.logout
    a(href="/a/picture").picture $picture

  li.logout
    a(href="/a/collection").collection $collection

  li.logout
    span.user.name Gast
    span.user.reputation 0