
h1 Login
p 
  | Melde dich mithilfe eines Drittanbieters an.
    

ul.login-provider

  li.amazon
    a(href='/auth/amazon/', title='Login with Amazon') Amazon

  li.facebook
    a(href='/auth/facebook/', title='Login with Facebook') Facebook

  li.google
    a(href='/auth/google/', title='Login with Google') Google