
.teaser
  h1 Login
  p 
  | Melde dich mit einem Account an
    
.main
  ul
    li.amazon.clearfix
      a(href='/auth/amazon/', title='Login with Amazon') Amazon

    li.facebook.clearfix
      a(href='/auth/facebook/', title='Login with Facebook') Facebook

    li.google.clearfix
      a(href='/auth/google/', title='Login with Google') Google

    li.local.clearfix
      a(href='/auth/local/', title='Login with local account') Lokaler Account

